<a href="https://colab.research.google.com/github/hanizarchmn/Tugas-DTI/blob/main/Classification_(Bank_Marketing_Dataset).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



*   Nama   : Hanizar Rachman
*   NIP    : DS0113
*   Kelas  : Data Science

---

# Classification

Kali ini kita akan memodelkan model klasifikasi menggunakan dataset (https://www.kaggle.com/janiobachmann/bank-marketing-dataset).

Data Bank berisikan sebagai berikut :



1.   Age (umur) : angka (numeric)
2.   Job : Jenis pekerjaan (Categorical : 'admin.', 'blue-collar', 'entrepreneur' 'housemaid', 'management', 'retired', 'self-employed', 'services', 'student', 'technician', 'unemployed', 'unknown')
3.   Marital : status pernikahan (Categorical : 'divorced', 'married', 'single', 'unknown' ; note: 'divorced' means divorced or widowed)
4.   Education (Categorical : 'Secondary', 'Tertiary', 'primary', 'unknown')
5.   Default : Mempunyai credit secara default? (Yes, No)
6.   Loan : Mempunyai personal loan? (Yes, No)
7.   Contact : Komunikasi menggunakan apa? (categorical: 'cellular','telephone', 'unknown')
8.   Day : Pada tanggal berapa terakhir berkomunikasi? (numeric)
9.   Month : Pada bulan apa terakhir kontak? (Categorical : 'may', 'aug', 'jul', 'jun', 'nov')
10.   Duration : Durasi kontak terakhir, dalam detik (numerik). Catatan penting: atribut ini sangat mempengaruhi target keluaran (misalnya, jika durasi = 0 maka y = 'tidak'). Namun, durasinya tidak diketahui sebelum panggilan dilakukan. Juga, setelah panggilan berakhir, y jelas diketahui. Dengan demikian, input ini hanya boleh dimasukkan untuk tujuan benchmark dan harus dibuang jika tujuannya adalah untuk memiliki model prediksi yang realistis.
11.   Campaign: Jumlah kontak yang dilakukan selama campaign ini dan untuk klien ini (numerik, termasuk kontak terakhir)
12.   Pdays : Jumlah hari yang berlalu setelah klien terakhir dihubungi dari campaign sebelumnya (numerik; 999 berarti klien sebelumnya tidak dihubungi)
13.   Previous : Jumlah kontak yang dilakukan sebelum campaign ini dan untuk klien ini (numerik)
14.   Housing : Mempunyai pinjam rumah? (Yes, No)
15.   Poutcome : Hasil dari *campaign* pemasaran sebelumnya (kategori: 'failure','nonexistent','success')

Import Library

In [39]:
#Import Library
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder

from sklearn.pipeline import make_pipeline
from sklearn.model_selection import StratifiedShuffleSplit, StratifiedKFold
from sklearn.model_selection import GridSearchCV

from sklearn.neighbors import KNeighborsClassifier

In [40]:
#Import data ke Google Collabs
df_bank = pd.read_csv('https://raw.githubusercontent.com/hanizarchmn/Tugas-DTI/main/bank.csv', sep = ',')
df_bank

# Menampilkan data
df_bank.head()

   age         job  marital  education  ... pdays  previous poutcome deposit
0   59      admin.  married  secondary  ...    -1         0  unknown     yes
1   56      admin.  married  secondary  ...    -1         0  unknown     yes
2   41  technician  married  secondary  ...    -1         0  unknown     yes
3   55    services  married  secondary  ...    -1         0  unknown     yes
4   54      admin.  married   tertiary  ...    -1         0  unknown     yes

[5 rows x 17 columns]

In [41]:
#Cetak informasi data
df_bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        11162 non-null  int64
 1   job        11162 non-null  object
 2   marital    11162 non-null  object
 3   education  11162 non-null  object
 4   default    11162 non-null  object
 5   balance    11162 non-null  int64
 6   housing    11162 non-null  object
 7   loan       11162 non-null  object
 8   contact    11162 non-null  object
 9   day        11162 non-null  int64
 10  month      11162 non-null  object
 11  duration   11162 non-null  int64
 12  campaign   11162 non-null  int64
 13  pdays      11162 non-null  int64
 14  previous   11162 non-null  int64
 15  poutcome   11162 non-null  object
 16  deposit    11162 non-null  object
dtypes: int64(7), object(10)
memory usage: 1.4+ MB

In [42]:
#Cetak deskripsi statistika
df_bank.describe().transpose()

            count         mean          std  ...    50%      75%      max
age       11162.0    41.231948    11.913369  ...   39.0    49.00     95.0
balance   11162.0  1528.538524  3225.413326  ...  550.0  1708.00  81204.0
day       11162.0    15.658036     8.420740  ...   15.0    22.00     31.0
duration  11162.0   371.993818   347.128386  ...  255.0   496.00   3881.0
campaign  11162.0     2.508421     2.722077  ...    2.0     3.00     63.0
pdays     11162.0    51.330407   108.758282  ...   -1.0    20.75    854.0
previous  11162.0     0.832557     2.292007  ...    0.0     1.00     58.0

[7 rows x 8 columns]

## Preporcessing Data

Mengecek data, apakah ada data yang hilang?

In [43]:
df_bank.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
deposit      0
dtype: int64

In [44]:
for col in df_bank.select_dtypes(include='object').columns:
    print(col)
    print(df_bank[col].unique())

job
['admin.' 'technician' 'services' 'management' 'retired' 'blue-collar'
 'unemployed' 'entrepreneur' 'housemaid' 'unknown' 'self-employed'
 'student']
marital
['married' 'single' 'divorced']
education
['secondary' 'tertiary' 'primary' 'unknown']
default
['no' 'yes']
housing
['yes' 'no']
loan
['no' 'yes']
contact
['unknown' 'cellular' 'telephone']
month
['may' 'jun' 'jul' 'aug' 'oct' 'nov' 'dec' 'jan' 'feb' 'mar' 'apr' 'sep']
poutcome
['unknown' 'other' 'failure' 'success']
deposit
['yes' 'no']

In [45]:
df_bank.deposit.value_counts()/df_bank.deposit.count()

no     0.52616
yes    0.47384
Name: deposit, dtype: float64

In [46]:
# Import Module
from sklearn.preprocessing import OneHotEncoder

# Encoder
encoder = OneHotEncoder(sparse=False)

# Encode Categorical Data
df_encoded = pd.DataFrame(encoder.fit_transform(df_bank[['job', 'marital', 'education', 'default', 'housing', 'loan']]))
df_encoded.columns = encoder.get_feature_names(['job', 'marital', 'education', 'default', 'housing', 'loan'])

# Replace Categotical Data with Encoded Data
df_bank.drop(['job', 'marital', 'education', 'default', 'housing', 'loan'] ,axis=1, inplace=True)
df_encoded= pd.concat([df_bank, df_encoded], axis=1)

# Show Encoded Dataframe
df_encoded

       age  balance   contact  day  ... housing_no  housing_yes  loan_no  loan_yes
0       59     2343   unknown    5  ...        0.0          1.0      1.0       0.0
1       56       45   unknown    5  ...        1.0          0.0      1.0       0.0
2       41     1270   unknown    5  ...        0.0          1.0      1.0       0.0
3       55     2476   unknown    5  ...        0.0          1.0      1.0       0.0
4       54      184   unknown    5  ...        1.0          0.0      1.0       0.0
...    ...      ...       ...  ...  ...        ...          ...      ...       ...
11157   33        1  cellular   20  ...        0.0          1.0      1.0       0.0
11158   39      733   unknown   16  ...        1.0          0.0      1.0       0.0
11159   32       29  cellular   19  ...        1.0          0.0      1.0       0.0
11160   43        0  cellular    8  ...        1.0          0.0      0.0       1.0
11161   34        0  cellular    9  ...        1.0          0.0      1.0       0.0

[11162 rows x 36 columns]

In [47]:
LE=LabelEncoder()
df_encoded['deposit']=LE.fit_transform(df_encoded.deposit.values)

#encoding categorical features
df_encoded=pd.get_dummies(df_encoded)
df_encoded

       age  balance  day  ...  poutcome_other  poutcome_success  poutcome_unknown
0       59     2343    5  ...               0                 0                 1
1       56       45    5  ...               0                 0                 1
2       41     1270    5  ...               0                 0                 1
3       55     2476    5  ...               0                 0                 1
4       54      184    5  ...               0                 0                 1
...    ...      ...  ...  ...             ...               ...               ...
11157   33        1   20  ...               0                 0                 1
11158   39      733   16  ...               0                 0                 1
11159   32       29   19  ...               0                 0                 1
11160   43        0    8  ...               0                 0                 0
11161   34        0    9  ...               0                 0                 1

[11162 rows x 52 columns]

In [48]:
#Memilih fitur
feature = df_encoded.drop(['balance', 'duration', 'deposit'], axis=1)
feature

       age  day  campaign  ...  poutcome_other  poutcome_success  poutcome_unknown
0       59    5         1  ...               0                 0                 1
1       56    5         1  ...               0                 0                 1
2       41    5         1  ...               0                 0                 1
3       55    5         1  ...               0                 0                 1
4       54    5         2  ...               0                 0                 1
...    ...  ...       ...  ...             ...               ...               ...
11157   33   20         1  ...               0                 0                 1
11158   39   16         4  ...               0                 0                 1
11159   32   19         2  ...               0                 0                 1
11160   43    8         2  ...               0                 0                 0
11161   34    9         1  ...               0                 0                 1

[11162 rows x 49 columns]

In [49]:
#Memilih target
target = df_encoded['deposit']
target

0        1
1        1
2        1
3        1
4        1
        ..
11157    0
11158    0
11159    0
11160    0
11161    0
Name: deposit, Length: 11162, dtype: int64

In [50]:
# Menentukan Data Training dan Data Testing (90:10)
from sklearn.model_selection import train_test_split, cross_val_score
X_train, X_test, y_train, y_test  = train_test_split(feature ,target, shuffle = True, test_size=0.1, random_state=1)

# Show the Training and Testing Data
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

X_test

(10045, 49)
(1117, 49)
(10045,)
(1117,)

      age  day  campaign  ...  poutcome_other  poutcome_success  poutcome_unknown
8422   31    5         1  ...               0                 0                 1
9226   43   20         2  ...               0                 0                 1
8162   26   14         2  ...               0                 0                 1
4337   39    3         1  ...               0                 1                 0
2438   40    6         2  ...               0                 1                 0
...   ...  ...       ...  ...             ...               ...               ...
6685   51   14         1  ...               0                 0                 1
473    56   16         1  ...               0                 0                 1
181    35   30         1  ...               0                 0                 1
2917   33   12         1  ...               0                 0                 0
45     35   13         2  ...               0                 0                 1

[1117 rows x 49 columns]

## K-Nearest Neighbour

In [51]:
# pipeline combining transformers and estimator
pipe_knn= make_pipeline(StandardScaler(), KNeighborsClassifier())
 
# grid searh to choose the best (combination of) hyperparameters
gs_knn=GridSearchCV(estimator= pipe_knn,
               param_grid={'kneighborsclassifier__n_neighbors':[4,5,6,7]},
               scoring='accuracy',
               cv=10)

# nested cross validation combining grid search (inner loop) and k-fold cv (outter loop)
gs_knn_scores = cross_val_score(gs_knn, X=xtrain, y=ytrain, cv=5,scoring='accuracy', n_jobs=-1)

# fit, and fit with best estimator
gs_knn.fit(xtrain, ytrain)
gs_knn_best=gs_knn.best_estimator_
gs_knn_best.fit(xtrain, ytrain)

print('Train Accuracy:   {0:.1f}%'.format(gs_knn.score(xtrain, ytrain)*100))
print('CV Mean Accuracy: {0:.1f}%'.format(np.mean(gs_knn_scores)*100))
print('Test Accuracy:    {0:.1f}%'.format(gs_knn.score(xtest, ytest)*100))

NameError: ignored